Thumbs.db
Desktop.ini
*.DS_Store
._*
npm-debug.log*
node_modules/
package-lock.json
.idea/
.vscode/
/dist/
/src/*.html
/src/categories/**/*.html
/src/events/*.html
/src/events/months/**/*.html
/src/events/tags/**/*.html
/src/stories/*.html
/src/stories/categories/**/*.html
