Thumbs.db
Desktop.ini
*.DS_Store
._*
npm-debug.log*
node_modules/
package-lock.json
.idea/
.vscode/
/dist/
/example/src/*.html
/example/src/categories/**/*.html
/example/src/events/*.html
/example/src/events/months/**/*.html
/example/src/events/tags/**/*.html
/example/src/stories/*.html
/example/src/stories/categories/**/*.html
